body {
  margin: 0;
  background: #0e0e0e;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ui {
  margin: 10px;
}

canvas {
  border: 1px solid #444;
  cursor: crosshair;
}

